<div class="left-panel">
    <table class="product-table" style="width:100%">
        <tr>
            <th></th>
            <th>Products</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
        <tr *ngFor="let product of products">
            <td>
                <button (click)="removeProduct(product)" class="btn btn-danger" style="color: red;
                font-weight: bold;">
                    X
                </button>
            </td>
            <td>{{product.name}}</td>
            <td>{{product.price}}</td>
            <td class="quantity-selector">
                <button class="btn btn-primary" (click)="plus(product)">+</button>
                <input type="text" class="form-control" [(ngModel)]="product.quantity">
                <button class="btn btn-primary" (click)="minus(product)">-</button>
            </td>
            <td>{{product.quantity * product.price | currency}}</td>
        </tr>

    </table>
    <div *ngIf="productLength<=0">
        <p class="no-products">There are no products</p>
    </div>
    <div class="footer-content">
        <table class="footer-table" style="width:100%">
            <tr>
                <td>Subtotal</td>
                <td>
                    <div class="final-calc">
                        <span>{{subtotal | currency: 'EUR'}}</span>
                        <span>Items {{totalItems}}</span>
                    </div>

                </td>
            </tr>
            <tr>
                <td>VAT tax</td>
                <td>
                    <div class="final-calc">
                        <span>{{vat*100}}%</span>
                        <span>{{subtotal*vat | number : '1.2-2'}} EUR</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Discount</td>
                <td>
                    <div class="final-calc">
                        <span>{{discount*100}}%</span>
                        <span>{{subtotal*discount | number : '1.2-2'}} EUR</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Total</td>
                <td style="color:green; padding: 0 0.2rem;">{{subtotal + subtotal*discount - subtotal*vat | number : '1.2-2'}} EUR</td>
            </tr>
        </table>
        <div class="footer-buttons">
            <button class="cancel-sale" (click)="clearAll()">Cancel Sale</button>
            <button class="process-sale" (click)="openModal()">Process Sale</button>
            <app-modal-component [clearAll]="clearAll" [products]="products" [subtotal]="subtotal" [vat]="vat" [discount]="discount" [totalItems]="totalItems" #modal></app-modal-component>
        </div>
    </div>
</div>