<div class="left-panel">
    <table class="product-table" style="width:100%">
        <tr>
            <th>Products</th>
            <th>Price</th>
            <th>Quantity</th>
            <th>Total</th>
        </tr>
        <!-- <tr>
      <td>Jill</td>
      <td>Smith</td>
      <td>50</td>
    </tr> -->

    </table>
    <p class="no-products">There are no products</p>
    <div class="footer-content">
        <table class="footer-table" style="width:100%">
            <tr>
                <td>Subtotal</td>
                <td>
                    <div class="final-calc">
                        <span>0.000EUR</span>
                        <span>Items</span>
                    </div>

                </td>
            </tr>
            <tr>
                <td>VAT tax</td>
                <td>
                    <div class="final-calc">
                        <span>10%</span>
                        <span>0.000EUR</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Discount</td>
                <td>
                    <div class="final-calc">
                        <span>10%</span>
                        <span>0.000EUR</span>
                    </div>
                </td>
            </tr>
            <tr>
                <td>Total</td>
                <td style="color:green; padding: 0 0.2rem;">0.000EUR</td>
            </tr>
        </table>
        <div class="footer-buttons">
            <button class="cancel-sale">Cancel Sale</button>
            <button class="process-sale">Process Sale</button>
        </div>
    </div>
</div>